body{
 background-color: white;
 margin: 0;
 padding: 0;
}


article{
  padding: 100px;
}

.flex-item{
  padding: 10%;
}

h2{
  font-size: 32px;
  text-align: center;

}

.middle{
 background-color: white;
 text-align: center;

}
.flex-containerOne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  
 
}
@media screen and (max-width: 500px) {
  .flex-containerOne {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5%;
      flex-wrap: wrap;
}
}
.subtext{
  width: 200px;
  text-align: center;
  color: gray;
  font-size: 18px;
}
.illustration{
  border: 4px solid #825748;
  border-radius: 20px;
}

#about-me{
  background-color: #825748;
  color: white;
}
#headshot{
  width: 70%;
  border-radius: 200px;
  border-style: solid;
  border: #1F2937;
}

footer a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: 20px;
}

footer{
  background-color:  #1b0000;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
}
